Repository bounswe/bounswe2023group2, pull requests merged in 2023-11, with the labels that each got.

#565 Frontend - Add social media/skill/language/professions to user profile
  Disaster-Response-Platform/frontend/components/profile/InfoList.js
  Disaster-Response-Platform/frontend/components/profile/Skill.js
  Disaster-Response-Platform/frontend/components/profile/SkillList.js
  Disaster-Response-Platform/frontend/components/profile/SkillModal.js
  Disaster-Response-Platform/frontend/pages/api/add-skill.js
  Disaster-Response-Platform/frontend/pages/api/delete-skill.js
  Disaster-Response-Platform/frontend/pages/profile/edit.js
  Disaster-Response-Platform/frontend/pages/profile/index.js
  Disaster-Response-Platform/frontend/public/icons/add.png
  Disaster-Response-Platform/frontend/public/icons/remove.png
Labels: team: front-end

#561 Be/test/authentication
  Disaster-Response-Platform/backend/Tests/user_test.py
Labels: effort: level 3

#576 added an endpoint to get user proficiency
  Disaster-Response-Platform/backend/Controllers/user_roles_controller.py
  Disaster-Response-Platform/backend/Models/user_model.py
Labels: effort: level 1

#603 Mo/feature/map action redirect
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/MainActivity.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/NeedBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/ResourceBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/map/BubbleInfoView.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/map/MapFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/map/MapViewModel.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/map_bubble.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values-tr/strings.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values/strings.xml
Labels: team: mobile

#577 Be/feature/action
  Disaster-Response-Platform/backend/Controllers/action_controller.py
  Disaster-Response-Platform/backend/Controllers/form_fields.json
  Disaster-Response-Platform/backend/Controllers/form_fields_controller.py
  Disaster-Response-Platform/backend/Controllers/user_controller.py
  Disaster-Response-Platform/backend/Database/mongo.py
  Disaster-Response-Platform/backend/Models/action_model.py
  Disaster-Response-Platform/backend/Models/need_model.py
  Disaster-Response-Platform/backend/Models/resource_model.py
  Disaster-Response-Platform/backend/README.md
  Disaster-Response-Platform/backend/Services/action_service.py
  Disaster-Response-Platform/backend/Services/need_service.py
  Disaster-Response-Platform/backend/Services/resource_service.py
  Disaster-Response-Platform/backend/Services/user_service.py
  Disaster-Response-Platform/backend/main.py
Labels: required: feature, priority: critical, state: In progress

#617 Fe/fix/no toast
  Disaster-Response-Platform/frontend/components/ActivityTable.js
  Disaster-Response-Platform/frontend/pages/api/resource.js
Labels: team: front-end

#633 MO/feature/profile-redirect-signin
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/MainActivity.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/ProfileFragment.kt
Labels: team: mobile

#654 Need item page fixed
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/need/NeedItemFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_role.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_need.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_need_item.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_resource.xml
Labels: team: mobile
