Repository bounswe/bounswe2023group2, pull requests merged in 2023-12, with the labels that each got.

#711 Fe/feature/add forms
  Disaster-Response-Platform/frontend/components/AddEmergency.js
  Disaster-Response-Platform/frontend/components/AddEvent.js
  Disaster-Response-Platform/frontend/components/NavBar.js
  Disaster-Response-Platform/frontend/pages/api/event/add.js
Labels: team: front-end

#747 Fe/feature/languages
  Disaster-Response-Platform/frontend/components/ActivityTable.js
  Disaster-Response-Platform/frontend/components/AddAction.js
  Disaster-Response-Platform/frontend/components/AddResourceMap.js
  Disaster-Response-Platform/frontend/components/Filter.js
  Disaster-Response-Platform/frontend/components/Map/MainMap.js
  Disaster-Response-Platform/frontend/components/Map/MapFilterMenu.js
  Disaster-Response-Platform/frontend/components/Map/SidePopup.js
  Disaster-Response-Platform/frontend/components/NavBar.js
  Disaster-Response-Platform/frontend/components/Sort.js
  Disaster-Response-Platform/frontend/components/forms.json
  Disaster-Response-Platform/frontend/components/profile/MainInfo.js
  Disaster-Response-Platform/frontend/components/profile/OptionalInfo.js
  Disaster-Response-Platform/frontend/components/profile/ReportModal.js
  Disaster-Response-Platform/frontend/components/profile/SkillList.js
  Disaster-Response-Platform/frontend/components/profile/SkillModal.js
  Disaster-Response-Platform/frontend/layouts/MainLayout.js
  Disaster-Response-Platform/frontend/layouts/MapLayout.js
  Disaster-Response-Platform/frontend/lib/getLabels.js
  Disaster-Response-Platform/frontend/lib/labels/EN.json
  Disaster-Response-Platform/frontend/lib/labels/TR.json
  Disaster-Response-Platform/frontend/pages/admin-panel/index.js
  Disaster-Response-Platform/frontend/pages/api/logout.js
  Disaster-Response-Platform/frontend/pages/api/report-user.js
  Disaster-Response-Platform/frontend/pages/api/set-language.js
  Disaster-Response-Platform/frontend/pages/index.js
  Disaster-Response-Platform/frontend/pages/login/index.js
  Disaster-Response-Platform/frontend/pages/map/index.js
  Disaster-Response-Platform/frontend/pages/profile/edit.js
  Disaster-Response-Platform/frontend/pages/profile/index.js
  Disaster-Response-Platform/frontend/pages/register/index.js
  Disaster-Response-Platform/frontend/pages/user/[username].js
Labels: team: front-end

#706 BE/enhancement/login
  Disaster-Response-Platform/backend/Controllers/user_controller.py
  Disaster-Response-Platform/backend/Models/user_model.py
  Disaster-Response-Platform/backend/Services/authentication_service.py
Labels: team: back-end

#748 Be/refactor/proficiency
  Disaster-Response-Platform/backend/Controllers/user_controller.py
  Disaster-Response-Platform/backend/Models/user_model.py
  Disaster-Response-Platform/backend/Services/authentication_service.py
  Disaster-Response-Platform/backend/Services/user_roles_service.py
Labels: team: back-end

#765 Fe/feature/event table
  Disaster-Response-Platform/frontend/components/ActivityTable.js
  Disaster-Response-Platform/frontend/components/AddEvent.js
  Disaster-Response-Platform/frontend/components/NavBar.js
  Disaster-Response-Platform/frontend/components/Sort.js
  Disaster-Response-Platform/frontend/lib/labels/EN.json
  Disaster-Response-Platform/frontend/lib/labels/TR.json
  Disaster-Response-Platform/frontend/pages/api/event/add.js
  Disaster-Response-Platform/frontend/pages/api/event/get.js
  Disaster-Response-Platform/frontend/pages/index.js
  Disaster-Response-Platform/frontend/tailwind.config.js
Labels: team: front-end

#751 BE/feature/search
  Disaster-Response-Platform/backend/Controllers/search_controller.py
  Disaster-Response-Platform/backend/Models/search_model.py
  Disaster-Response-Platform/backend/Services/authentication_service.py
  Disaster-Response-Platform/backend/Services/search_service.py
  Disaster-Response-Platform/backend/Tests/user_test.py
  Disaster-Response-Platform/backend/main.py
  Disaster-Response-Platform/docker-compose.yaml
  Disaster-Response-Platform/search_server/Dockerfile
  Disaster-Response-Platform/search_server/README.md
  Disaster-Response-Platform/search_server/requirements.txt
  Disaster-Response-Platform/search_server/search_controller.py
  Disaster-Response-Platform/search_server/sen_init.py
Labels: team: back-end

#717 MO/feature/role-based-credible-profile
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/enums/EndPoint.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/authModels/registerRequestBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/usertypes/AuthenticatedUser.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/usertypes/CredibleUser.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/usertypes/RoleBasedUser.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/managers/NetworkManager.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/EditProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/ProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/profile_admin_icon.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_profile.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_profile_edit.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values-tr/strings.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values/strings.xml
Labels: team: mobile

#847 Be/feature/search
  Disaster-Response-Platform/backend/Controllers/search_controller.py
  Disaster-Response-Platform/backend/Models/search_model.py
  Disaster-Response-Platform/backend/Services/search_service.py
  Disaster-Response-Platform/docker-compose.yaml
  Disaster-Response-Platform/search_server/requirements.txt
  Disaster-Response-Platform/search_server/search_controller.py
Labels: team: back-end

#853 Be/feature/download activity file
  Disaster-Response-Platform/.gitignore
  Disaster-Response-Platform/backend/Controllers/file_controller.py
  Disaster-Response-Platform/backend/Database/s3.py
Labels: team: back-end

#851 BE/feature/user
  Disaster-Response-Platform/backend/Controllers/user_controller.py
  Disaster-Response-Platform/backend/Services/authentication_service.py
Labels: team: back-end

#856 Mo/feature/profile-picture
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/build.gradle
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/enums/EndPoint.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/authModels/registerRequestBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/usertypes/AuthenticatedUser.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/EditProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/ProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/utils/ImageUploadTask.kt
Labels: team: mobile

#863 MO/feature/password-reset
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/enums/EndPoint.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/authModels/PasswordChangeBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/managers/NetworkManager.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/authentication/ChangePasswordFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/authentication/ForgotPasswordFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/authentication/RegistrationFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_change_password.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values-tr/strings.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values/strings.xml
Labels: team: mobile

#867 Frontend - Fix main layout being too short
  Disaster-Response-Platform/frontend/layouts/MainLayout.module.scss
Labels: team: front-end

#876 Mo/feature/upload-document
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/authModels/registerRequestBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/usertypes/AuthenticatedUser.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/EditProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/ProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/utils/FileUploadTask.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/upload_file.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/profile_edit_skill.xml
Labels: team: mobile

#886 Backend - fix report reject/accept
  Disaster-Response-Platform/backend/Controllers/report_controller.py
  Disaster-Response-Platform/backend/Services/report_service.py
Labels: team: back-end

#882 MO/feature/show-proficiency
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/enums/EndPoint.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/authModels/registerRequestBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/usertypes/AuthenticatedUser.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/ProfileFragment.kt
Labels: team: mobile

#887 Mo/feature/delete-account
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/EditProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_profile_edit.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values-tr/strings.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values/strings.xml
Labels: team: mobile

#896 MO/bugfix/duplicate-bugfix
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/util/map/ActivityMap 2.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_add_circle 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_arrow_down 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_arrow_up 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_category_new 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_clock 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_creation_time 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_delete 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_description 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_details 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_edit 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_fire 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_hand 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_hearth 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_location 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_map_2 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_numbers 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_person 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_person_search 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_quantity 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_role 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_shield_qm 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_thumbsdown 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_thumbsup 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_upvote 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_urgency 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/ic_warning 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/need_map_icon 2.png
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/profile_admin_icon 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/drawable/resource_map_icon 2.png
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/activity_map 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/emergency_item 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/event_item 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_action_item 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_bottom_sheet 2.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_email_verification 2.xml
Labels: team: mobile

#892 Frontend - Fix sort taking incorrect keys
  Disaster-Response-Platform/frontend/components/Sort.js
Labels: team: front-end

#890 Frontend - translate forgotten label in register page
  Disaster-Response-Platform/frontend/lib/labels/EN.json
  Disaster-Response-Platform/frontend/lib/labels/TR.json
  Disaster-Response-Platform/frontend/pages/register/index.js
Labels: team: front-end

#889 Fe/enhance/admin panel
  Disaster-Response-Platform/frontend/components/profile/ReportModal.js
  Disaster-Response-Platform/frontend/lib/labels/EN.json
  Disaster-Response-Platform/frontend/lib/labels/TR.json
  Disaster-Response-Platform/frontend/pages/admin-panel/index.js
  Disaster-Response-Platform/frontend/pages/api/report-user.js
  Disaster-Response-Platform/frontend/pages/api/reports/accept.js
  Disaster-Response-Platform/frontend/pages/api/reports/create.js
  Disaster-Response-Platform/frontend/pages/api/reports/reject.js
  Disaster-Response-Platform/frontend/pages/api/set-credibility.js
  Disaster-Response-Platform/frontend/pages/api/unauthorize.js
  Disaster-Response-Platform/frontend/pages/user/[username].js
Labels: team: front-end

#893 Mo/advancement/string-translation
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/EditProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/ProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_profile.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_profile_edit.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/profile_edit_item.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/profile_edit_skill.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values-tr/strings.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values/strings.xml
Labels: team: mobile

#901 Fe/feature/emergency form
  Disaster-Response-Platform/frontend/components/AddEmergency.js
  Disaster-Response-Platform/frontend/components/Map/EmergencyMap.js
  Disaster-Response-Platform/frontend/components/NavBar.js
  Disaster-Response-Platform/frontend/lib/labels/EN.json
  Disaster-Response-Platform/frontend/lib/labels/TR.json
  Disaster-Response-Platform/frontend/pages/api/add-emergency.js
Labels: team: front-end

#912 MO/bugfix/special-credible
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/adapter/ActionAdapter.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/adapter/EmergencyAdapter.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/adapter/EventAdapter.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/adapter/NeedAdapter.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/adapter/ResourceAdapter.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/models/UserBody.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/generalViewModels/UserRoleViewModel.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/map/MapFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/utils/UserRoleUtil.kt
Labels: team: mobile

#913 Mo/bugfix/login-fixes
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/MainActivity.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/managers/DiskStorageManager.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/action/ActionFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/event/EventFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/need/NeedFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/need/NeedItemFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/resource/ResourceFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/authentication/AuthenticationViewModel.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/authentication/EmailVerificationFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/authentication/LoginFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/authentication/RegistrationFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/EditProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/ProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/utils/UserRoleUtil.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_registration.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values-tr/strings.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/values/strings.xml
Labels: team: mobile

#900 Mo/feature/annotations
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/MainActivity.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/enums/EndPoint.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/managers/NetworkManager.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/action/ActionItemFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/action/AddActionFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/emergency/AddEmergencyFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/emergency/EmergencyItemFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/event/AddEventFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/event/EventItemFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/need/AddNeedFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/need/NeedItemFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/resource/AddResourceFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/activity/resource/ResourceItemFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/profile/EditProfileFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/utils/Annotation.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/annotation_layout.xml
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/res/layout/fragment_action_item.xml
Labels: team: mobile

#917 Mo/feature/map-event-emergency
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/data/enums/EndPoint.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/map/MapFragment.kt
  Disaster-Response-Platform/mobile/DisasterResponsePlatform/app/src/main/java/com/example/disasterresponseplatform/ui/map/MapViewModel.kt
Labels: team: mobile

#923 Fe/fix/before final
  Disaster-Response-Platform/frontend/components/ActivityList.js
  Disaster-Response-Platform/frontend/components/ActivityModal.js
  Disaster-Response-Platform/frontend/components/ActivityTable.js
  Disaster-Response-Platform/frontend/components/AddEmergency.js
  Disaster-Response-Platform/frontend/components/ListItem.js
  Disaster-Response-Platform/frontend/components/RecurrenceTable.js
  Disaster-Response-Platform/frontend/lib/labels/EN.json
  Disaster-Response-Platform/frontend/lib/labels/TR.json
  Disaster-Response-Platform/frontend/pages/admin-panel/index.js
Labels: team: front-end
